:root {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(images/bck_img.jpg);
}
  .container{
  	display:flex;
    flex-direction: column;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.35)),url(images/header_bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0.5rem 5rem rgba(0,0,0,0.75);
    padding: 1% 0;
}
.header
{
display:flex;
    flex-direction: column;
}
.nav li {
    list-style: none;
}
ul.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     margin-top: 3vh;
}
.nav li a {
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin: 1vw;
    text-transform: uppercase;
}
.wel_head h3 {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 10vh;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.profile_head h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin-top: 5vh;
    font-weight: bold;
    word-spacing: 0.2rem;
}
.about_me {
    display: flex;
    flex-direction: column;
}
.about_me .heading h2 {
    color: #383838;
    font-weight: 700;
    text-align: center;
}
.detail_part {
    display: flex;
    flex-direction: row;
    color: #383838;
    margin: 0 8vw;
    background-color: #383838;
}

img.my-image {
    width: 30vw;
    border-radius-right: 95px;
    border-radius: 34px;
    border-top-left-radius: 0;
    border: 10px solid #383838;
}
img.my-image:hover
	{
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
		opacity: 0.3;
  transition: .5s ease;
	}

.details p {
    padding: 5vw;
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
    line-height: 5vh;
}
.details {
    background-color: #383838;
    border-left: 1vw solid black;
}
.interest-section {
    display: flex;
    flex-direction: column;
    margin: 0 8vw;
    background-size: contain;
    background-repeat: repeat;
    position: relative;
}
.interest-section .heading h2 {
    color: #383838;
    font-weight: 700;
    text-align: center;
}
.section_division
{
	display: flex;
    flex-direction: row;
}
.sect_design {
    text-align: center;
    width: 33.33vw;
}
.sect_border {
    border: 1px solid #aeaeae;
}
img.image-icon {
    width: 15vw;
    border-radius-right: 95px;
    border: 1px solid #383838;
}
img.image-icon:hover{
	top:10px;
	box-shadow: 0 0 10px #383838;
	position: relative;
}
i.fa.fa-bars {
     display: none; 
}
.banner-head {
    margin: auto;
}
.work-section .heading h2 {
    color: #383838;
    font-weight: 700;
    text-align: center;
}
.work-section {
    display: flex;
    flex-direction: column;
    margin: 0 8vw;
}

@media only screen and (max-width: 725px)  {
    .detail_part {
    flex-direction: column;
}
.details p {
    padding: 0px 4vw 4vw 4vw;
    margin: 0;
    font-size: 1rem;
}
.pic {
    order: -1;
    margin: 0 auto;
}
img.my-image {
    width: 74vw;
    border-radius-right: 95px;
}
img.image-icon {
    width: 25vw;
}
}
.work_div p {
    text-align: center;
    line-height: 5vh;
    padding: 0px 4vw 4vw 4vw;
    font-size: 1rem;

}
.work_div {
    background: #383838;
    color: white;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color:#008B8B;}
    to {background-color: #2F4F4F;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color:  #008B8B;}
    to {background-color: #2F4F4F;}
}

div#footer {
    background: #383838;
    margin-top: 7vh;
    margin-bottom: : 7vh;
    width: 100vw;
}
.foot_heading {
    background: #383838;
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.social_icons {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}
.social_icons li {
    display: inline-block;
    margin-right: 15px;
}
.foot_heading i.fa {
    color: #ffffff;
}
.work_div ul li {
  line-height: 4vh;
}