.container {
   /* margin: 0 auto;
    width: 800px;*/
}
.chat-area {
    margin: 2px 0px;
    background-color: #f1f1f1;
    padding: 18px;
    border-radius: 6px;
    width: 100%;
    
}

.chat-area img {
    width: 61px;
    border-radius: 50%;
    margin-right: 12px;
}

span.time-right {
    float: right;
}
i.fa.fa-search {
    line-height: 23px;
}

.chat-person-img img {
    width: 61px;
    border-radius: 50%;
    margin-right: 12px;
}
.right-area {
    padding-left: 0px !important;
        padding-right: 0px !important; 
}

.left-area {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.header-chat-right {
    background-color: #eee;
    padding: 10px;
}
.message-second {
     float: left
   
}
.message-sender {
    background-color: #dcf8c6;
    width: 28vw;
    float: right;
    padding: 4px;
}
.message-receiver
{
   width: 28vw; 
   padding: 4px; 
}
.conversation-list {
    margin-top: 2vh;
}
.header-chat-left {
    background-color: #eee;
    padding: 10px;
}
.search-container {
    margin-top: 1vh;
}
.profile_txt {
    padding: 9px;
    color:#ffffff;
}
form {
    margin-bottom: 1vh;
}
.header-chat-left.profile {
    background-color: #00BFA5;
}
.profile_img {
    margin: 25px auto;
    width: 25vw;
}
.porfile-change {
    background-color: #F7F7F7;             ;
}
.row {
    margin-right: 0px !important; 
     margin-left: 0px !important; 
}
.container-fluid {
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    }
.App_alrt {
    background-color: #F7F7F7;
    padding: 15px;
}
.chat-area .notification {
    margin: auto 0;
}
@media only screen and (max-width: 768px) {
    .bck_image {
    display: none;
}
.right-area {
    display: none;
}
}